// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

body {
  h4,h5,h6{font-family:"Open Sans"};
  h1,h2,h3 {font-family:"Montserrat"};
  //background-image: url(../../images/grey.png) !important;
  //background-attachment:fixed;
}

nav ul li{
  margin-top:1px;
}

.behind{
  z-index:0 !important;
  background-color:transparent !important;
}

.content{
  border-top:1px solid #818a91;
  position:relative;
  background:white;
  z-index:1 !important;
  top:11rem;
}

.resume{
  .row{padding-top:1rem}
  border-top:1px solid #818a91;
  position:relative;
  background:white;
  z-index:1 !important;
  top:3.5rem;
}

.projects{
  padding-top:1rem;
}



#logo{font-family:"Montserrat";font-size: 1.25rem}

#about{
  text-align:center;margin-top:1rem;
}

#about h6 {padding:1rem;border:2px dashed #818a91}
