// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

body {
  h4,h5,h6,p{font-family:"Open Sans"};
  h1,h2,h3 {font-family:"Montserrat"};
  //background-image: url(../../images/grey.png) !important;
  //background-attachment:fixed;
}

nav ul li{
  margin-top:1px;
}

.behind{
  z-index:0 !important;
  background-color:transparent !important;
}

.content {
    top:13rem;
    position:relative;
    z-index:1 !important;
}

.thumbs{
  outline:1px solid #818a91;
  outline-width: 1px 1px 1px 1px;
  background:white;
}

.resume{
  outline:1px solid #818a91;
  outline-width: 1px 1px 1px 1px;
  background:white;
  padding:2rem;
  p{padding-bottom:1rem}
  h6{font-size:.75rem}
  .sect{font-weight:800}
}

.projects{
  padding-top:1rem;
  padding-bottom:1rem;
}

.footer {
  padding:2rem;
  img{
    height:30px;
    width:30px;
    display:block;
    margin:auto
  }
}

#logo{font-family:"Montserrat";font-size: 1.25rem}

#about{
  text-align:center;
  margin-top:1rem;
  h6 {line-height:2rem}
}

#about h6 {padding:1rem;border:2px dashed #818a91}
